Source: rust-pxar
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 24),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-bitflags-1+default-dev (>= 1.2.1-~~) <!nocheck>,
 librust-endian-trait-0.6+arrays-dev <!nocheck>,
 librust-endian-trait-0.6+default-dev <!nocheck>,
 librust-libc-0.2+default-dev <!nocheck>,
 librust-siphasher-0.3+default-dev <!nocheck>,
 librust-tokio-1-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.5.1
Vcs-Git: 
Vcs-Browser: 
Rules-Requires-Root: no

Package: librust-pxar-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-bitflags-1+default-dev (>= 1.2.1-~~),
 librust-endian-trait-0.6+arrays-dev,
 librust-endian-trait-0.6+default-dev,
 librust-libc-0.2+default-dev,
 librust-siphasher-0.3+default-dev
Recommends:
 librust-pxar+tokio-dev (= ${binary:Version})
Suggests:
 librust-pxar+async-example-dev (= ${binary:Version}),
 librust-pxar+tokio-fs-dev (= ${binary:Version})
Provides:
 librust-pxar+test-harness-dev (= ${binary:Version}),
 librust-pxar-0-dev (= ${binary:Version}),
 librust-pxar-0+test-harness-dev (= ${binary:Version}),
 librust-pxar-0.10-dev (= ${binary:Version}),
 librust-pxar-0.10+test-harness-dev (= ${binary:Version}),
 librust-pxar-0.10.1-dev (= ${binary:Version}),
 librust-pxar-0.10.1+test-harness-dev (= ${binary:Version})
Description: Proxmox Archive format support library - Rust source code
 This package contains the source for the Rust pxar crate, packaged by debcargo
 for use with cargo and dh-cargo.

Package: librust-pxar+async-example-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pxar-dev (= ${binary:Version}),
 librust-pxar+tokio-io-dev (= ${binary:Version}),
 librust-pxar+tokio-fs-dev (= ${binary:Version}),
 librust-tokio-1+macros-dev,
 librust-tokio-1+rt-multi-thread-dev
Provides:
 librust-pxar-0+async-example-dev (= ${binary:Version}),
 librust-pxar-0.10+async-example-dev (= ${binary:Version}),
 librust-pxar-0.10.1+async-example-dev (= ${binary:Version})
Description: Proxmox Archive format support library - feature "async-example"
 This metapackage enables feature "async-example" for the Rust pxar crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-pxar+tokio-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pxar-dev (= ${binary:Version}),
 librust-tokio-1-dev
Provides:
 librust-pxar+default-dev (= ${binary:Version}),
 librust-pxar+tokio-io-dev (= ${binary:Version}),
 librust-pxar-0+tokio-dev (= ${binary:Version}),
 librust-pxar-0+default-dev (= ${binary:Version}),
 librust-pxar-0+tokio-io-dev (= ${binary:Version}),
 librust-pxar-0.10+tokio-dev (= ${binary:Version}),
 librust-pxar-0.10+default-dev (= ${binary:Version}),
 librust-pxar-0.10+tokio-io-dev (= ${binary:Version}),
 librust-pxar-0.10.1+tokio-dev (= ${binary:Version}),
 librust-pxar-0.10.1+default-dev (= ${binary:Version}),
 librust-pxar-0.10.1+tokio-io-dev (= ${binary:Version})
Description: Proxmox Archive format support library - feature "tokio" and 2 more
 This metapackage enables feature "tokio" for the Rust pxar crate, by pulling in
 any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "default", and "tokio-io"
 features.

Package: librust-pxar+tokio-fs-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-pxar-dev (= ${binary:Version}),
 librust-pxar+tokio-io-dev (= ${binary:Version}),
 librust-tokio-1+fs-dev
Provides:
 librust-pxar+full-dev (= ${binary:Version}),
 librust-pxar-0+tokio-fs-dev (= ${binary:Version}),
 librust-pxar-0+full-dev (= ${binary:Version}),
 librust-pxar-0.10+tokio-fs-dev (= ${binary:Version}),
 librust-pxar-0.10+full-dev (= ${binary:Version}),
 librust-pxar-0.10.1+tokio-fs-dev (= ${binary:Version}),
 librust-pxar-0.10.1+full-dev (= ${binary:Version})
Description: Proxmox Archive format support library - feature "tokio-fs" and 1 more
 This metapackage enables feature "tokio-fs" for the Rust pxar crate, by pulling
 in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "full" feature.
